h1 {
    font-size: 1.7rem;
    color: white;
    vertical-align: middle;
}

h2 {
    font-size: 1.5rem;
    color: #cccccc;
    vertical-align: middle;
}

footer {
    color: #ccc;
    padding-bottom: 2rem;
}

footer a {
    color: #ccc;
}

.navbar-item {
    padding-right: 1rem;
    display: inline-block;
}
